/**
* ============================================================================================================================
*             THIS IS OFFICIAL CSS FILE WRITTEN BY ZACTRA TO MANAGE WEBSITE CONTENTS
* ============================================================================================================================
*/
*{
   font-family: "Open Sans", sans-serif !important;
   font-size:12px;
}
.theme-color{
  color:#eff3fc !important;
}
.theme-color-dark{
  color:#70a6ce !important
}
.theme-background{
  background:#eff3fc !important;
}


.bg-white,.bg-light{ background:white; }
.bg-dark,.bg-black{ background:black; }
.bg-transparent{ background:transparent !important; }
.bg-grey,.bg-gray{ background:#EBEBEB !important; }


.bd-6{border-radius: 6px;}
.bd-10{border-radius: 10px;}
.bd-20{border-radius: 20px;}
.bd-30{border-radius: 30px;}
.bd-40{border-radius: 40px;}
.bd-50{border-radius: 50px;}
.bd-100{border-radius: 100px;}

.text-bold,.bold{ font-weight: bold}
.fw-bold{ font-weight: bold}
.fw-100{ font-weight: 100}
.fw-200{ font-weight: 200}
.fw-300{ font-weight: 300}
.fw-400{ font-weight: 400}
.fw-500{ font-weight: 500}
.fw-600{ font-weight: 600}
.fw-700{ font-weight: 700}
.fw-800{ font-weight: 800}
.fw-900{ font-weight: 900}
.fw-1000{ font-weight: 1000}


.fs-8{ font-size:8px !important; }
.fs-9{ font-size:9px !important; }
.fs-10{ font-size:10px !important; }
.fs-11{ font-size:11px !important; }
.fs-12{ font-size:12px !important; }
.fs-13{ font-size:13px !important; }
.fs-14{ font-size:14px !important; }
.fs-15{ font-size:15px !important; }
.fs-16{ font-size:16px !important; }
.fs-17{ font-size:17px !important; }
.fs-18{ font-size:18px !important; }
.fs-19{ font-size:19px !important; }
.fs-20{ font-size:20px !important; }
.fs-21{ font-size:21px !important; }
.fs-22{ font-size:22px !important; }
.fs-23{ font-size:23px !important; }
.fs-24{ font-size:24px !important; }
.fs-25{ font-size:25px !important; }
.fs-26{ font-size:26px !important; }
.fs-27{ font-size:27px !important; }
.fs-28{ font-size:28px !important; }
.fs-29{ font-size:29px !important; }
.fs-30{ font-size:30px !important; }
.fs-31{ font-size:31px !important; }
.fs-32{ font-size:32px !important; }
.fs-33{ font-size:33px !important; }
.fs-34{ font-size:34px !important; }
.fs-35{ font-size:35px !important; }
.h-10{height:10px !important;}
.h-20{height:20px !important;}
.h-30{height:30px !important;}
.h-40{height:40px !important;}
.h-50{height:50px !important;}
.h-60{height:60px !important;}
.h-70{height:70px !important;}
.box-shadow{
  box-shadow: 0px 7px 12px #f7f7f7;
}
.login-form-border{
  border:1px solid #f0f4ff;
  transition: 0.5s;

}
.login-form-border:hover{
  box-shadow: 0px 0px 40px #f3f3f3;
}
.login-btn-social{
  width: 45px;
  height: 45px;
  border-radius: 100px;
  border:none;
  box-shadow: 0px 0px 10px #e6e4e4;
  background: white;
}

.login-btn-social svg{
  width: 26px;
}
.btn-login-facebook{
  background: #70a6ce;
}
