/*
*--------------------*
    #Home-page
*--------------------*
    #Login
*--------------------*


*/


input{
    transition: all .3s ease-in-out;
}

html{
	font-size: 14px;
}
/*nav ul {
	display: flex;
	margin-bottom: 0;
}
nav li {
	list-style: none;
	font-size: 15px;
	font-weight: 500;
}
nav li:not(:last-child) {
	margin-right: 23px;
}
nav li a {
	color: #272D4E;
}
nav li a:hover {
	color: #272D4E;
	text-decoration: unset;
}*/
*::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}
*::-webkit-scrollbar{
	width: 8px;
	background-color: #F5F5F5;
}
*::-webkit-scrollbar-thumb{
    background: linear-gradient(0, #F63565 0%, #FA6940 100%);
    border-radius: 15px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
}
img{
	user-select: none;
	pointer-events: none;
}
a {
	font-size: 1rem;
	color: #000000;
}
a:hover{
	text-decoration: unset;
	color: #000000;
}
body {
    position: relative;
}
.read_more {
	text-transform: uppercase;
	margin-left: 10px;
	color: red;
}
header{
	display: flex;
    flex-direction: column;
    position: relative;
	overflow: hidden;
    position: absolute;
    z-index: 9;
    left: 0;
    top: 0;
    width: 100%;

}
section.header{
    padding-top: 70px;
    overflow: hidden;
	position: relative;
	background: linear-gradient(180deg, rgba(194, 237, 255, 0.76) 0%, rgba(229, 239, 255, 0.58) 100%);background: linear-gradient(180deg, rgba(194, 237, 255, 0.76) 0%, rgba(229, 239, 255, 0.58) 100%);

}
.header .background-image{
	position: absolute;
	z-index: -1;
	height: 100%;
	width: 100%;
	object-fit: cover;
}
header .mobile-menu{
	display: none;
}
header .close-mobile{
	display: none;
}
.header-slider{
	justify-content: space-between;
}
.header-links a {
    padding: 1rem 2.5rem;
}
nav {
	display: flex;
	align-items: center;
}
.header-info {
	display: flex;
	justify-content: flex-end;
	padding-top: 1.28rem;
}
.header-info .contact-info {
	display: flex;
	align-items: center;
}
.header-info .contact-info  .time-block {
	cursor: default;
}
.header-info .contact-info:not(:last-child) {
	margin-right: 1.78rem;
}
.header-info .contact-info a {
	display: flex;
	align-items: center;
}
.header-info .contact-info p {
	margin-bottom: 0;
	margin-left: 0.5rem;
	font-size: 0.75rem;
	color: #000000;
}
.account-block {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.navigation {
	display: flex;
}
.site-navi .nav-block {
	display: flex;
	margin-bottom: 0;
}
.site-navi .nav-block .nav-item {
	list-style: none;
	font-size: 1rem;
	font-weight: 500;
}
.site-navi .nav-block .nav-item:not(:last-child) {
	margin-right: 1.64rem;
}
.site-navi .nav-block .nav-item a {
	color: #272D4E;
	transition: all .2s ease-in-out;
}
.site-navi .nav-block .nav-item a:hover {
    color: #172780 !important;
	text-decoration: unset;
}
.logo-block img {
	object-fit: cover;
	width: 100%;
}
.chat {
    position: fixed;
    bottom: -1px;
    right: 14.28rem;
    z-index: 8;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    transition: all .5s ease-in-out;
}
.chat #chat_header{
	cursor: pointer;
	transform: translateY(1px) scale(1);
	transition: bottom .4s ease-in-out,transform .4s ease-in-out,-webkit-transform .4s ease-in-out;
    transform-origin: center center;
}
.chat #chat_header.hide {
	transform: translateY(1px) scale(0);
	bottom: -100%;
}
.chat #chat_header > svg{
	width: 18.4rem;
}
.chat #chat_header p > svg{
	width: 1.42rem;
    height: 1.57rem;
}
.chat #chat_header p{
    position: absolute;
    top: 4px;
    transform: translateX(-50%);
    left: 50%;
    display: flex;
    align-items: center;
    width: 73%;
    justify-content: space-between;
    margin: 0;
    font-size: 1rem;
    white-space: nowrap;
    font-weight: 500;
    color: #FFFFFF;
}
.chat .body {
    bottom: -100%;
	padding: 1rem;
    width: 30.4rem;
    position: fixed;
	height: 29.5rem;
	border-radius: 25px;
    transform: scale(0);
    background-color: #EFF3FC;
    transform-origin: bottom;
	box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.1);
    transition: all .3s cubic-bezier(0.55, 0.06, 0.68, 0.19);
}
.chat .body.show {
    transform: scale(1);
	bottom: 0;
}
.chat .body .chat-title{
    color: #94A2B3;
    display: flex;
    justify-content: space-between;
}
#chat_close svg{
	width: 1.28rem;
	height: 1.28rem;
	cursor: pointer;
}
#chat_form {
    color: #94A2B3;
}
#chat_form .contact {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
	margin: 10px 0;
}
#chat_form .contact p{
	margin: 0;
}
#chat_form  input,
#chat_form textarea{
	font-size: 1rem;
    padding: 0.78rem 0.7rem;
    border-radius: 15px;
    border: 1px solid #94A2B3;
    color: #94A2B3;
    outline: none;
    transition: .3s ease-in-out;
}
#chat_form  input{
	width: 100%;
}
#chat_form input[type="text"],
#chat_form textarea {
	width: 100%;
}
#chat_form textarea{
	height: 6.42rem;
}
#chat_form input:disabled{
	opacity: .5;
}
#chat_form label{
	margin: 0;
}
#chat_form .form-submit{
	display: flex;
	justify-content: center;
	margin-top: 10px;
}
#chat_form .form-submit input{
	padding: 1rem 4.28rem;
	background: linear-gradient(90deg, #F63565 0%, #FA6940 100%);
	border-radius: 50px;
	color: #FFFFFF;
}
#contact_description{
    position: absolute;
    background-color: #1fa7f2;
    padding: 1.78rem;
    border-radius: 10px;
    z-index: 9;
    color: #ffffff;
    display: none;
    opacity: 0;
}
#contact_description.active{
	display: block;
}
#contact_description::after{
    content: "";
    border-top: 15px solid #1fa7f2;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    position: absolute;
    bottom: -13px;
    right: 17px;
    border-radius: 42px;
}
.header-banner{
    flex-grow: 1;
    display: flex;
    align-items: center;
    margin-top: 40px;
}
.header-slider{
	display: flex;
	justify-content: space-around;
	margin-bottom: 3.57rem;
}
.img-block.active{
	display: block;
}
#viewport {
	width: 100%;
	height: 26.07rem;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
	border-radius: 25px;
    display: block;
    z-index: 2;
    overflow: hidden;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
#slidewrapper {
    position: relative;
    width: calc(100% * 7);
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
}
#slidewrapper ul,
#slidewrapper li {
    margin: 0;
    padding: 0;
}
#slidewrapper li {
    width: calc(100%/7);
    list-style: none;
    display: inline;
    height: 100%;
    float: left;
}
.header-img-block {
	width: 100%;
    object-fit: cover;
    border-radius: 25px;
    overflow: hidden;
}
.header-img-block img {
	width: 100%;
	object-fit: cover;
}
.header-banner .banner-text{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.img-block {
    width: 100%;
}
#header_slider .owl-nav:not(.disabled) {
    display: flex;
    justify-content: flex-start;
    padding-top: 25px;
    padding-left: 57px;
}
.information {
   	position: relative;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    display: flex;
    transition: all .5s ease-in-out;
    margin-bottom: 3rem;
}
.information.active {
    z-index: 1;
    position: relative;
    transition: all .5s ease-in-out;
    transform: scaleY(1);
    height: 50vh;
}
.information .text-block:first-child {
	margin-bottom: 1.78rem;
}
.information h4 {
	font-size: 2rem;
	font-weight: 100;
	margin-top: 40px;
    text-transform: uppercase;
}
/*.img-block{
	width: 45vw;
}*/
.img-block{
	position: relative;
	display: flex;
	justify-content: center;
}
#slidewrapper img{
	object-fit: cover;
	height: 100%;
	width: 100%;
	position: relative;
	z-index: 2;
	user-select: none;
	pointer-events: none;
}
.banner-background {
    position: absolute;
    right: -3.5rem;
    bottom: 2rem;
    z-index: 0;
    height: 13.3rem;
}
.banner-img{
	position: relative;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
}
.banner-img .slider-nav{
    position: absolute;
    bottom: -2.80rem;
    left: 12.3rem;
}
#slider_next,
#slider_prev{
	transition: all .3s ease-in-out;
	cursor: pointer;
	fill: #FA6444;
	width: 2.77rem;
    height: 1.38rem;
}
#slider_next:hover{
	transform: scale(1.05) translateX(3px);
}
#slider_prev:hover{
	transform: scale(1.05) translateX(-3px);
}
.slider-nav svg{
	margin: 0 0.78rem;
}
.owl-slider_next,
.owl-slider_prev{
	transition: all .3s ease-in-out;
	cursor: pointer;
	fill: #FA6444;
}
.owl-slider_next:hover{
	transform: scale(1.05) translateX(3px);
}
.owl-slider_prev:hover{
	transform: scale(1.05) translateX(-3px);
}
.owl-nav{
	display: flex;
	justify-content: center;
	align-items: center;
}
.owl-nav button{
	margin: 0 5px;
	outline: none;
}
.owl-nav button svg{
    width: 2.77rem;
    height: 1.38rem;
    margin: 0 0.78rem;
}
.owl-nav button.disabled svg{
	transform: scale(.6);
	pointer-events: none;
	fill: #000000 !important;
	opacity: .3;
}
.banner-img .slider-nav svg.disable {
	transform: scale(.6);
	pointer-events: none;
	fill: #000000 !important;
	opacity: .3;
}
.banner-img .slider-nav svg.disable:hover {
	transform: scale(.8) !important;
}
input.error {
	border-color: #FF0000 !important;
	-webkit-box-shadow: 0px 0px 12px -1px rgba(255,0,0,.5);
	-moz-box-shadow: 0px 0px 12px -1px rgba(255,0,0,.5);
	    box-shadow: 0px 0px 12px -1px rgba(255,0,0,.5);
}
input.not-error{
	border-color: #228B22 !important;
	-webkit-box-shadow: 0px 0px 12px -1px rgba(34,139,34,.5);
	-moz-box-shadow: 0px 0px 12px -1px rgba(34,139,34,.5);
	box-shadow: 0px 0px 12px -1px rgba(34,139,34,.5);
}
form p.required{
	font-size: 0.85rem;
	display: none;
}
header a.basic-button{
    padding: 0.71rem 3.21rem;
	font-size: 1.55rem;
}
a.basic-button{
    background: linear-gradient(90deg, #F63565 0%, #FA6940 100%);
    text-transform: capitalize;
    display: inline-block;
    text-decoration: none;
    border-radius: 40px;
	position: relative;
	overflow: hidden;
    color: #FFFFFF;
}
a.basic-button:hover{
    color: #FFFFFF;
}
a.basic-button::after{
	content: "";
    background-color: #FFFFFF;
    transform: rotate(-45deg);
    transition: all .4s ease-in-out;
    position: absolute;
    opacity: 0.2;
    height: 100%;
    width: 100%;
    left: -100%;
    top: 0;
}
a.basic-button:hover::after{
	left: 100%;
}
input.basic-button{
    background: linear-gradient(90deg, #F63565 0%, #FA6940 100%);
    text-transform: capitalize;
    display: inline-block;
    text-decoration: none;
    border-radius: 40px;
    position: relative;
    overflow: hidden;
    color: #FFFFFF;
}
input.basic-button:hover{
    color: #FFFFFF;
}
input.basic-button::after{
    content: "";
    background-color: #FFFFFF;
    transform: rotate(-45deg);
    transition: all .4s ease-in-out;
    position: absolute;
    opacity: 0.2;
    height: 100%;
    width: 100%;
    left: -100%;
    top: 0;
}
input.basic-button:hover::after{
    left: 100%;
}

/*About us */
section.about-us{
	background-color: #F2F2F2;
	overflow: hidden;
}
section.about-us .about-us-inner{
	padding: 100px 0;
    align-items: center;
    justify-content: space-between;
}
section.about-us video{
	position: relative;
	width: 100%;
	z-index: 2;
}
.video-box::after{
	content: "";
    position: absolute;
    top: 0;
    left: 50%;
   	background-color: #f2f2f2;
    z-index: 1;
    width: 94%;
    height: 100%;
    transform: translateX(-50%);
}
section.about-us p{
	font-size: 1rem;
	line-height: 2.22rem;
}
section.about-us .basic-button {
    padding: 1rem 2.14rem;
    font-size: 1rem;
    text-transform: uppercase;
}
section.about-us .banner-background {
    position: absolute;
    right: -68px;
    bottom: -25px;
    z-index: 0;
    height: 60%;
    width: auto;
}
/*  Help  */
section.help {
	background-image: url('/images/new/help_img_bck.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
section.help .help-inner {
    padding-top: 6rem;
    padding-bottom: 4.5rem;
	justify-content: center;
	align-items: center;
}
section.help h2.title {
	font-size: 3.4rem;
	color: #FFFFFF;
	text-align: center;
	padding-top: 2.14rem;
}
section.help .help-inner .name {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
section.help .help-inner .name p{
	display: flex;
	justify-content: space-around;
    width: 100%;
    margin-bottom: 0.2rem;
}
section.help .help-inner .name .name-point {
    padding: 3px .5rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
section.help .help-inner .block {
	display: flex;
	align-items: center;
	justify-content: center;
}
section.help .help-inner .help-description {
	background-color: #FFFFFF;
	padding: 1rem;
    border-radius: 15px;
    opacity: 0;
	display: none;
	width: 80%;
}
section.help .help-inner .help-description.first {
	display: block;
	opacity: 1;
}
section.help .help-inner .help-description .modal-heading {
	display: flex;
	align-items: center;
	padding: 0 1rem;
	justify-content: flex-end;
}
section.help .help-inner .help-description h6 {
	margin: 0;
	color: #94A2B3;
    padding-bottom: 1.5rem;
    font-size: 1.33rem;
}
section.help .help-inner .help-description .modal-body p {
	font-size: 1rem;
	color: #94A2B3;
}
section.help .help-inner .help-description .modal-body{
	padding: 0 1rem !important;
}
a.name-point span{
    padding: 1rem 1.2rem;
    overflow: hidden;
}
a.name-point.active span{
    background: linear-gradient(90deg, #F63565 0%, #FA6940 100%);
    text-transform: capitalize;
    display: inline-block;
    text-decoration: none;
    border-radius: 40px;
	position: relative;
	overflow: hidden;
    color: #FFFFFF;
}
a.name-point.active :hover{
    color: #FFFFFF;
}
a.name-point.active span::after{
	content: "";
    background-color: #FFFFFF;
    transform: rotate(-45deg);
    transition: all .4s ease-in-out;
    position: absolute;
    opacity: 0.2;
    height: 100%;
    width: 100%;
    left: -100%;
    top: 0;
}
a.name-point.active:hover span::after{
	left: 100%;
}
/*Report*/
section.report .report-inner {
	padding: 100px 0;
	align-items: center;
}
section.report .title {
	text-align: center;
	text-transform: uppercase;
	padding-top: 3.57rem;
	font-size: 2rem;
}
section.report .report-item {
    margin: 2.5rem 1.42rem 2.67rem 1.42rem;
    cursor: pointer;
    transition: all .3s ease-in-out;
}
section.report .report-item .body {
    display: flex;
    padding: 1.07rem 2.14rem 2.14rem 2.14rem;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 0px 18px 52.8537px rgba(215, 228, 249, 0.5);
    box-shadow: 0px 0px 10.8537px rgba(215, 228, 249, 0.5);
    transition: all .3s ease-in-out;
    border: 2px solid #FFFFFF;
}
section.report .report-item .body:hover {
    box-shadow: 0px 3px 20.8537px rgba(215, 228, 249, 0.5);
    border: 2px solid #fa6444;
}
section.report .report-item h6 {
	color: #94A2B3;
    margin: 0;
    line-height: 1.92rem;
    margin-bottom: 2.67rem;
    font-size: 1.33rem;
}
section.report .report-item .icon {
    background: linear-gradient(90deg, #F63565 0%, #FA6940 100%);
    width: 3.57rem;
    height: 3.57rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-45px);
    border-radius: 52px;
    padding: 0.71rem;
}
section.report .report-item .icon img {
	object-fit: cover;
}
/* Education */
section.education {
	background-color: #F2F2F2;
	padding: 45px 0;
}
section.education .education-inner .credit-graph .graph {
	height: 85%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    border-radius: 30%;
    bottom: 6.2%;
    overflow: hidden;
}
section.education .education-inner .credit-graph {
   height: 425px;
    width: 85%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    cursor: pointer;
    position: relative;
}
section.education .education-inner .credit-graph img {
	object-fit: contain;
	position: absolute;
	transform: translateY(0);
    transition: all 1.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
section.education .education-inner .credit-graph .graph_bottom_block {
	position: absolute;
	bottom: 0;
	width: 100%;
}
#graph_bottom_stroke {
	z-index: 6;
    bottom: -18px;
    width: 107.24%;
    opacity: 1;
    left: -3.46%;
}
#graph_bottom {
	z-index: 1;
    width: 101.88%;
	height: 68.2%;
	bottom: 0;
}
#graph_yellow{
    width: 45.35%;
    height: 51.52%;
	object-fit: contain;
	z-index: 3;
    left: 4.27%;
    top: 29.2%;
}
#graph_violet {
	width: 27.24%;
    height: 50.11%;
	object-fit: contain;
	z-index: 2;
    top: 25.50%;
    left: 25.66%;
}
#graph_green {
	width: 48.81%;
    height: 74.58%;
	object-fit: contain;
	z-index: 4;
    bottom: 0;
    right: 1.63%;
}
#graph_blue {
    width: 65.35%;
    height: 53.64%;
	object-fit: contain;
    z-index: 5;
    bottom: -8.23%;
    left: 18.74%;
}
#graph_red {
    width: 48.34%;
    height: 56.47%;
	object-fit: contain;
	z-index: 4;
    left: 1.57%;
    bottom: -1.411%;
}
section.education .education-inner .credit-graph #graph_yellow:hover {
	transform: translateY(-19%);
}
section.education .education-inner .credit-graph #graph_violet:hover {
    transform: translateY(-19%);
}
section.education .education-inner .credit-graph #graph_red:hover {
    transform: translateY(-19.7%) translateX(-1%);
}
section.education .education-inner .credit-graph #graph_green:hover {
	transform: translateY(-19%);
}
section.education .education-inner {
	align-items: center;
	padding: 50px 0;
	justify-content: space-between;
}
section.education h3.title{
	font-size: 2rem;
	color: #505050;
	text-transform: uppercase;
	text-align: center;
	padding-top: 2.14rem;
}
section.education .text-block h3.title{
	text-transform: capitalize;
	padding-top: 0;
	margin-bottom: 1.78rem;
}
section.education .text-block p{
	color: #94A2B3;
	font-size: 1rem;
	line-height: 2.22rem;
}
section.education .education-inner .img-block img {
	width: 100%;
	object-fit: cover;
}
section.education .education-inner .basic-button {
	padding: 0.85rem 2.85rem;
    font-size: 1.55rem;
    margin-top: 1.78rem;
}
/* Footer */
footer .footer-bck {
	background-image: url('/images/new/footer_bck.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}
footer .footer {
	padding-bottom: 50px;
	padding-top: 2rem;
	justify-content: space-between;
}
footer .footer h6{
	font-size: 1rem;
	color: #FFFFFF;
	text-transform: uppercase;
}
footer .footer .information-block .row {
	position: relative;
}
footer .footer .information-block .row:after {
	top: 25px;
	content: "";
	width: 100%;
	height: 0.5px;
	position: absolute;
	background-color: #FFFFFF;
}
footer .footer .information-block .contact-information {
	list-style: none;
	padding: 0;
	padding-top: 10px;
}
footer .footer .information-block .contact-information p,
footer .footer .information-block .contact-information a {
	font-size: 0.77rem;
	color: #FFFFFF;
	margin: 0;
}
footer .footer .information-block .contact-information li p,
footer .footer .information-block .contact-information li a{
	margin: 0;
	padding: 0;
}
footer .footer .information-block .contact-information li:not(:last-child){
	margin-bottom: 0.71rem;
}
footer .footer-copyright{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 5vh
}
footer .footer-copyright p,
footer .footer-copyright a{
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	font-size: 0.66rem;
}
footer .footer-copyright a{
	text-decoration: underline;
}
footer .map {
	display: flex;
    flex-direction: column;
    justify-content: baseline;
    padding-top: 25px;
}
footer .map iframe{
	width: 100% !important;
	height: 14.08rem;
	border-radius: 15px;
	outline: none;
}
footer .map iframe a{
	display: none !important;
}
footer .map h6{
	text-align: center;
	font-size: 1.33rem;
    margin: 0;
    margin-top: 1rem;
}


/* #Login */

section.login {
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-form{
    position: relative;
    z-index: 7;
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.1);
    color: #94A2B3;
    padding: 25px;
    background-color: #EFF3FC;
    border-radius: 25px;
    width: 409px;
}
.login-form .login-background{
    position: absolute;
    bottom: -25px;
    right: -25px;
    z-index: 3;
}
.login-form form {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.login-form .title{
    padding-bottom: 1rem;
}
.login-form input:not([type="submit"]),
.login-form select{
    width: 100%;
    height: 3rem;
    border-radius: 1rem;
    outline: none;
    padding-left: 16px;
    border: 1px solid #94A2B3;
    margin-bottom: 15px;
}
.login-form input[type="checkbox"] {
    width: auto;
    height: auto;
    padding: 0;
    margin: 0;
    margin-right: 8px;
}
.login-form .login-information{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding-left: 10px;
}
.login-form label {
    display: flex;
    align-items: center;
    margin: 0;
}
.login-form .forgot,
.login-form .login_sign-up a {
    color: #299EF3;
}
.login-form .login {
    width: 80%;
    height: 3rem;
    outline: none;
    border: none;
    margin-top: 2rem;
}
.login-form .login-social {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}
.login-form .login-social a:not(:last-child) {
    margin-bottom: 15px;
}
.login-form .login-social a {
    width: 80%;
color: #FFFFFF;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    position: relative;
    font-weight: 700;
}
.login-form .login-social svg {
    width: 25px;
    height: 25px;
    position: absolute;
    left: 15px;
    transform: translateY(0);
    transition: all .3 ease-in-out;
}
.login-form .login-social a:hover svg {
    animation-name: hover;
    animation-duration: .3s;
}
.login-form .login_sign-up {
    text-align: center;
    margin: 0;
    margin-top: 10px;
}
@keyframes hover{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0);
    }
}
.login-form .login-social a.login-facebook {
    background-color: #3B5998;
    border: solid 2px #3B5998;
    color: #FFFFFF;

}
.login-form .login-social a.login-google {
    border: solid 2px #94A2B3;
    color: #272D4E;
    background-color: #FFFFFF;
}
section.login{
    padding-top: 170px;
    padding-bottom: 100px;
    overflow: hidden;
    position: relative;
    background: linear-gradient(180deg, rgba(194, 237, 255, 0.76) 0%, rgba(229, 239, 255, 0.58) 100%);background: linear-gradient(180deg, rgba(194, 237, 255, 0.76) 0%, rgba(229, 239, 255, 0.58) 100%);
}
section.login .background-image{
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.register_or {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.register_or label {
    width: 46%;
}
.register_or label input {
    padding-left: 5px;
}
#register_form p.required {
    display: none !important;
}


@media (min-width: 991){
	.header-links {
		display: flex;
		align-items: center;
	}
	.header-links > p{
		font-size: 1rem;
		color: #94A2B3;
		margin: 0;
		margin: 0 0.57rem;
	}
	.header-links a:last-child{
		color: #94A2B3;
		font-size: 1rem;
	}
}
@media (min-width: 1200px){
	.basic-container {
		max-width: 85vw;
	}
}
@media (min-width: 1400px){
	html{
		font-size: 16px;
	}
	.banner-img .slider-nav{
	    left: 8.3rem;
	}
}
@media (min-width: 1460px){
	html{
		font-size: 17px;
	}
	.chat {
		bottom: -2px;
	}
	.banner-img .slider-nav{
	    left: 4.3rem;
	}
	.header-slider {
		padding: 50px 0;
	}
	footer .footer {
		padding-bottom: 100px;
	}
}
@media (min-width: 1700px){
	.banner-img .slider-nav{
	    left: 13.3rem;
	}
}
@media (max-width: 1200px){
	section.education .education-inner .credit-graph {
		height: 346px;
		width: 82%;
	}
	section.education .education-inner .credit-graph .graph {
		bottom: 5.2%;
	}
}
@media (max-width: 991px){
	header {
		height: unset;
	}
	header .mobile-menu {
		display: block;
	}
	header .navigation{
		top: 0;
	    right: -111%;
	    z-index: 99;
	    width: 100%;
	    height: 100%;
	    position: fixed;
	    align-items: center;
	    flex-direction: column;
	    justify-content: space-around;
	    transition: all .5s cubic-bezier(0.39, 0.58, 0.57, 1);
		background: linear-gradient(180deg, rgba(194, 237, 255, 1) 0%, rgba(229, 239, 255, 1) 100%);
	}
	header .navigation.show {
		right: 0;
	}
	header .site-navi {
		position: relative;
	}
	header .navigation-block {
		justify-content: flex-end;
		position: unset;
	}
	.logo-block img {
		max-width: 230px;
	}
	.site-navi .nav-block .nav-item:not(:last-child){
		margin: unset;
		margin-bottom: 20px;
	}
	header nav{
		justify-content: center;
	}
	.site-navi .nav-block{
		flex-direction: column;
		align-items: center;
		text-align: center;
	    padding: 0;
	}
	.account-block{
		justify-content: center;
	}
	.site-navi .nav-block .nav-item a{
		font-size: 22px;
	}
	header .close-mobile,
	#toggle_menu{
		display: block;
		position: absolute;
	    z-index: 99999;
	    right: 25px;
        height: 20px;
	    width: 31px;
	    background: transparent;
	    border: unset;
	    outline: none;
	    top: 50%;
	    transform: translateY(-50%);
	}
	header .close-mobile span,
	#toggle_menu span{
	    left: 0;
	    width: 100%;
	    height: 1px;
	    transition: all .3s ease-in-out;
	    position: absolute;
	    background-color: #000;
	}
	header .close-mobile span:first-child{
		transform: rotate(45deg);
	}
	header .close-mobile span:last-child{
		transform: rotate(-45deg);
	}
	#chat_header {
		width: 50px;
		height: 50px;
		background: linear-gradient(90deg, #F63565 0%, #FA6940 100%);
		border-radius: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		position: fixed;
	    bottom: 18px;
	    right: 18px;
	}
	#chat_header > svg{
		display: none;
	}
	#chat_header_hide_text {
		display: none;
	}
	.chat #chat_header p {
		position: unset;
		transform: unset;
		width: unset;
	}
	.chat .body{
		position: fixed;
		left: 50%;
		transform: scale(0) translateX(-50%);
	}
	.chat .body.show{
		left: 50%;
		transform: scale(1) translateX(-50%);
	}
	.chat{
		right: unset;
	}
	.slider-nav{
		display: none;
	}
	#toggle_menu span:first-child{
		top: 1px;
		transform: rotate(0);
	}
	#toggle_menu span:nth-child(2){
		top: 10px;
		opacity: 1;
	}
	#toggle_menu span:last-child{
		top: 19px;
		transform: rotate(0);
	}
	#toggle_menu.active span:first-child{
		top: 10px;
		transform: rotate(45deg);
	}
	#toggle_menu.active span:nth-child(2){
		top: 10px;
		opacity: 0;
	}
	#toggle_menu.active span:last-child{
		transform: rotate(-45deg);
		top: 10px;
	}
	.nav-bar {
		display: flex;
		flex-direction: column;
	}
		section.help .help-inner .name .name-point{
		padding: 0;
		margin: 0;
	    display: inline-block;
	}
	a.name-point span {
		display: inline-block;
	}
	section.help h2.title{
		display: none;
	}
	section.help .help-inner .help-description{
		background-color: #FFFFFF;
		padding: 1rem;
		border-radius: 15px;
		width: 82vw;
	}
	section.help .help-inner .name {
	    justify-content: center;
	    align-items: center;
	    text-align: center;
	    flex-direction: column;
	}
	section.help .help-inner .name p{
		flex-direction: column;
		width: unset;
		justify-content: unset;
	}
	section.help .help-inner .block {
		position: absolute;
	    top: 50%;
	    transform: translateY(-50%);
	}
	section.help .help-inner {
		position: relative;
	}
	section.education .education-inner {
		height: unset;
		justify-content: center;
	}
	section.report .report-inner {
		height: unset;
	}
	section.education .education-inner .credit-graph {
	    height: 32vw;
	    width: 41vw;
	}
	section.education .education-inner .credit-graph .graph {
		bottom: 3.2%;
	}
	footer .footer {
		height: unset;
		padding: 2rem 0;
		justify-content: center;
	}
}
@media (max-width: 768px){
	.header-slider {
		flex-direction: column-reverse;
		width: 100%;
	}
	.banner-img {
		height: 44vh;
	}
	.banner-background {
	    right: -6.6rem;
    	bottom: -1.28rem;
    	width: 100%;
    	height: auto;
	}
	.header-banner {
	    align-items: baseline;
	    justify-content: center;
    	padding-top: 35px;
    	width: 100%;
	}
	.header-banner .banner-text{
		margin-top: 35px;
	}
	.nav-bar {
		flex-direction: column-reverse;
		padding-top: 15px;
	}
	.header-info {
		flex-wrap: wrap;
		justify-content: unset;
	}
	.header-info .contact-info {
		margin-right: 1.78rem;
	}
	.header-info > div {
		margin-bottom: 15px !important;
	}
	.header-info .contact-info.phone-block {
		order: 3;
		margin: 0;
	}

	section.about-us .about-us-inner {
		height: unset;
		padding: 20px 0;
		padding-bottom: 40px;
	}
	section.about-us .basic-button{
	    display: none;
	}
	.information-block {
		margin-bottom: 25px;
	}
	section.report .report-item .body {
    	padding: 0px 22px 8px 22px;
	}
	section.report .report-item .icon {
    	transform: translateY(-29px);
	}
	section.report .report-item h6 {
		font-size: 16px;
	}
	section.education .education-inner .basic-button {
		padding: 0.85rem 5.85rem;
	}
	section.about-us .banner-background{
		height: 66%;
	}
	section.education .education-inner .credit-graph .graph {
    	bottom: 2.2%;
	}
	footer .footer-bck {
		background-position: right;
	}
	footer .footer {
		padding: 45px 0;
		height: unset;
	}
	footer .footer .information-block .row:after {
		content: unset;
	}
	footer .footer h6 {
		margin-top: 25px;
		font-weight: 700;
	}
	footer .information-block {
	    padding: 0 35px;
	}
	#chat_form .contact p{
		margin: 0 5px;
	}
	.chat .body {
		width: 90%;
		max-width: 30.4rem;
	}
	.chat .body{
		height: unset;
	}
	#viewport{
		height: 23rem;
	}
	.video-box::after{
		width: 92%;
	}
	section.report .report-inner {
		padding: 50px 0;
	}
}
@media(max-width: 575px){
	section.education .education-inner .credit-graph .graph {
   		bottom: 2.9%;
	}
	section.education .education-inner .credit-graph {
	    width: 75vw;
   		height: 60vw;
	}
}
@media(max-width: 500px){
	#viewport{
		height: 15rem;
	}
}
@media(max-width: 420px){
	#chat_form .contact {
		flex-direction: column;
	}
	#chat_form label {
		width: 100%;
	}
	#chat_form .contact p {
		align-items: center;
	}
	#contact_description::after {
		right: unset;
		left: 17px;
	}
	#contact_description.active{
		left: 10px !important;
	}
	.video-box::after{
		width: 90%;
	}
	section.education .education-inner .credit-graph .graph {
		bottom: -0.1%;
	}
}
@media(min-width: 768px) and (max-width: 991px){
	.banner-background {
	    right: -3.5rem;
    	bottom: 6.72rem;
	}
	#viewport{
    	height: 20.07rem;
	}
}
@media(min-width: 991px) and (max-width: 1260px){
	html{
		font-size: 13px;
	}
	a.name-point span{
    	padding: 1rem 1.4rem;
	}
	section.help .help-inner .name .name-point{
		font-size: 1.1rem;
	}
}
